body{
    background: linear-gradient(180deg, #0a0d1a, #181e3a 50%, rgba(55,74,115,255));
    margin: 0;
    padding: 0;
    color: rgba(148,163,205,255);
    overflow-y: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    background-color: rgba(26,25,54,255);
    color: rgba(148,163,205,255);
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
    
}
.main{
    height: 91vh;
}
.middle a {
    color: inherit;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(35,31,69,255);
}

footer {
    border-top: solid black 2px;
}
footer h1{
    font-size: 0;
}

@media (min-width: 1000px){
    .top{
        margin-left: 15vw;
        margin-top: 2vh;
    }

    .top a{
        font-size: 5vh;
    }

    .top img{
        height: 5vh;
        width: 5vh;
        border-radius: 100%;
    }

    .middle{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 70vw;
    }

    .button{
        padding: 15px;    
        width: 20vw;
        margin-left: 1vw;
        border-radius: 5px;
        border: solid 2px rgba(148, 163, 205, 0.3);
    }
    
    footer{
        margin-left : 1vw;
        margin-right: 1vw;
    }

    .tabelka{
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:1000px){
    .top{
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 2vh;
    }

    .top a{
        font-size: 7vw;
    }

    .top img{
        height: 7vw;
        width: 7vw;
        border-radius: 100%;
    }

    .middle{
        width: 100vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        padding: 15px;    
        width: 70vw;
        margin-left: 1vw;
        border-radius: 5px;
        margin-bottom: 1vh;
        margin-left: auto;
        margin-right: auto;
        border: solid 2px rgba(148, 163, 205, 0.3);
    }
    
    footer{
        margin-left : 1vw;
        margin-right: 1vw;
    }

    .tabelka{
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
    }
    body{
        scroll-behavior: unset;
    }
}

/* @media (max-width:1500px) and (min-width:1000px){
    .main{
        display: none;
    }
    footer h1{
        font-size: xx-large;
    }
} */